
<% layout('/layouts/boilerplate') -%>

<body>
  <%- include("filter.ejs") %> 
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 mt-3">
       <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link"> 
        <div class="card col listing-card">
             <img src="<%= listing.image.url %>" 
             class="card-img-top" alt="Listing Image"  style="height:15rem;">
             <div class="card-img-overlay"></div>
              <div class="card-body">
               <p class="card-text"><%= listing.title %><br/>
                &#8377;<%= listing.price.toLocaleString("en-IN") %><i class="tax-info">&nbsp;&nbsp;+18% GST</i>/Night
              </p>
              </div>
           </div></a>
      <% } %>
   </div>
  </body>
